* {
    padding: 0;
    margin: 0;
  }
  .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    padding: 70px;
    flex-direction: column;
    color: #025fb5;
    border: 1px solid blue;
  
    border-radius: 30px;
  }
  .lab-div {
    margin-right: 39.4rem;
    line-height: 41px;
    font-size: 17px;
  }
  .lab-div-emsil {
    margin-left: -41rem;
    line-height: 41px;
    font-size: 17px;
  }
  
  input {
    width: 700px;
    height: 38px;
    margin-bottom: 20px;
  
    background: #ffffff;
    border: 1px solid #025fb5;
  }
  .junaid {
    font-family: "Merienda";
    font-style: normal;
    line-height: 35px;
    font-size: 20px;
    // background: #4fa9fb;
    border-radius: 34px;
    width: 130px;
    /* identical to box height */
    color: #ffffff;
    border: none;
    background-color: #4FA9FB;
  }
  .heding {
    text-align: center;
    font-family: "Merienda";
    font-style: normal;
  
    font-size: 32px;
    line-height: 46px;
    top: 250px;
    color: #025fb5;
    height: 0px;
    margin-top: 110px;
  }